{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "tabWidth": 4,
  "printWidth": 80,
  "importOrder": [
    "^react(.*)$",
    "^@(.*)$",
    "components/(.*)",
    "[../]"
  ],
  "importOrderSeparation": true
}
