
# Logs
node_modules

.idea

*.prettierignore
*.gitignore
*.log
*.json
*yarn.lock


.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite

*.lock
*.json
*.log
*.md

.gitignore
.prettierignore

node_modules
.vite
.idea
.git

