@import 'styles';

$table-columns: 6;
$table-gap: 10px;

.table {
    display: grid;
    grid-template-columns: repeat($table-columns, 1fr);
    grid-gap: $table-gap;

    .cell {
        padding: $table-gap;
        border: 1px solid #000;
    }
}
